@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Appointments";
}
@model List<SignUpResponse>

<table class="table table-bordered table-striped">
    <thead class="font-wieght-bold">

        <tr>
            <td>Group Name</td>
            <td>Group Size</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Tour Time</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <td>@x.GroupName</td>
            <td>@x.GroupSize</td>
            <td>@x.Email</td>
            <td>@x.Phone</td>
            <td></td>

            <td><a asp-controller="Home" asp-action="Edit" asp-route-groupid="@x.GroupID">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-groupid="@x.GroupID">Delete</a></td>
        </tr>
        }

    </tbody>

</table>



